@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contactUs {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactUs .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.contactUs .title h2 {
    color: #24272c;

    font-weight: 500;
}

.contactUs .box1 .form,
.contactUs .box1 .info,
.contactUs .box1 .map {
    transition: 0.2s ease-in-out;
}

.contactUs .box1 .form {
    grid-area: form;
}
.contactUs .box1 .form:hover,
.contactUs .box1 .info:hover,
.contactUs .box1 .map:hover {
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}


.contactUs .box1 .info {
    grid-area: info;
}

.contactUs .box1 .map {
    grid-area: map;
}

.contactUs .contact {
    padding: 40px;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.contactUs .box1 {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:
        "form info"
        "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contactUs .contact h2 {
    color: #0e3959;
    font-weight: 500;
}

/* form box of contact us */
.contactUs .formBox {
    position: relative;
    width: 100%;
}

.contactUs .formBox .row50 {
    display: flex;
    gap: 20px;
}

.contactUs .formBox .row50 .inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

.contactUs .formBox .row100 .inputBox {
    width: 100%;

}

.contactUs .formBox .inputBox span {
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.contactUs .form .inputBox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.contactUs .form .inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    width: 100%;
    margin-bottom: 10px;
}

.contactUs .form .inputBox input[type="submit"] {
    background: #ff578b;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.contactUs .form .inputBox ::placeholder {
    color: #999;
}

/* info */
.contactUs .info {
    background: #0e3959;
}

.contactUs .info h2 {
    color: #fff;
}

.contactUs .info .inforBox div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contactUs .info .inforBox div:nth-child(1) {
    margin-top: 10px;
}

.contactUs .info .inforBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.contactUs .info .inforBox div p {
    color: #fff;
    font-size: 1.1em;
}

.contactUs .info .inforBox div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.contactUs .info .inforBox ul.sci {
    margin-top: 40px;
    display: flex;
}

.contactUs .info .inforBox ul.sci li {
    list-style: none;
    margin-right: 15px;
}

.contactUs .info .inforBox ul.sci li a {
    font-size: 2em;
    color: #ccc;
    transition: 0.25s ease-in-out;
}

.contactUs .info .inforBox ul.sci li a:hover {
    color: #fff;
}

.contactUs .map {
    padding: 0;
}

.contactUs .map iframe {
    border: none;
    width: 100%;
    height: 100%;
}

/* welcome section start here */
.welcome-banner {
    position: relative;
    width: 100%;
    height: 75vh;
    background: linear-gradient(-30deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), url(../image/theme-img05.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-banner .welcome-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 50px;
}

.welcome-banner .welcome-wrapper .welcome-content {
    width: 500px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.welcome-banner .welcome-wrapper .welcome-content h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0.5rem;

}

.welcome-banner .welcome-wrapper .welcome-content p {
    font-size: 14px;
    margin-bottom: 0.75rem;
}

/* CSS */
.welcome-banner .welcome-wrapper .welcome-content button.welcome-btn {
    font-size: 14px;
    font-weight: 200;
    width: 150px;
    letter-spacing: 1px;
    padding: 13px 5px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    z-index: 1;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.welcome-banner .welcome-wrapper .welcome-content button.welcome-btn:after {
    content: "Read More";
    line-height: 45px;
    background-color: #ffe54c;
    width: 100%;
    z-index: 0;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.welcome-banner .welcome-wrapper .welcome-content button.welcome-btn:hover:after {
    top: 0px;
    left: 0px;
}

@media (max-width: 980px) {
    .welcome-banner .welcome-wrapper .welcome-content h2 {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .welcome-banner .welcome-wrapper {
        align-items: center;
        justify-content: center;
    }

    .welcome-banner .welcome-wrapper .welcome-content button.welcome-btn {
        width: 100px;
        padding: 13px 5px 13px;
    }

    .welcome-banner .welcome-wrapper .welcome-content h2 {
        font-size: 18px;
    }
}



/* responsive design */
@media (max-width: 991px) {
    .contactUs {
        padding: 20px;
    }

    .contactUs .box1 {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "form"
            "info"
            "map";
    }

    .contactUs .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .contactUs .formBox .row50 .inputBox {
        width: 100%;
    }

    .contactUs .contact {
        padding: 30px;
    }

    .contactUs .map {
        min-height: 300px;
        padding: 0;
    }
}