.welcome-banner {
    position: relative;
    width: 100%;
    height: 75vh;
    background: linear-gradient(-30deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), url(../image/theme-img16.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-banner .welcome-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 50px;
}

.welcome-banner .welcome-wrapper .welcome-content {
    width: 500px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.welcome-banner .welcome-wrapper .welcome-content h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0.5rem;

}

.welcome-banner .welcome-wrapper .welcome-content p {
    font-size: 14px;
    margin-bottom: 0.75rem;
}

/* CSS */
.welcome-banner .welcome-wrapper .welcome-content button.welcome-btn {
    font-size: 14px;
    font-weight: 200;
    width: 150px;
    letter-spacing: 1px;
    padding: 13px 5px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    z-index: 1;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.welcome-banner .welcome-wrapper .welcome-content button.welcome-btn:after {
    content: "Read More";
    line-height: 45px;
    background-color: #ffe54c;
    width: 100%;
    z-index: 0;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.welcome-banner .welcome-wrapper .welcome-content button.welcome-btn:hover:after {
    top: 0px;
    left: 0px;
}

@media (max-width: 980px) {
    .welcome-banner .welcome-wrapper .welcome-content h2 {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .welcome-banner .welcome-wrapper {
        align-items: center;
        justify-content: center;
    }

    .welcome-banner .welcome-wrapper .welcome-content button.welcome-btn {
        width: 100px;
        padding: 13px 5px 13px;
    }

    .welcome-banner .welcome-wrapper .welcome-content h2 {
        font-size: 18px;
    }
}